<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common/header.html' %}
</head>
<body id="page-top">
<div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <br>
            <div class="container-fluid">
                {% include 'common/horizontal_menu_bar.html' %}
                {% if sudoers == false %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Access denied </strong>
                        Only users with sudo permissions can access this page
                        <br>
                    </div>
                {% else %}
                    <div id="accessok">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                    <div class="alert alert-success">
                                        <strong>{{ message }} </strong>
                                    </div>
                                {% else %}
                                    <div class="alert alert-danger">
                                        <strong>{{ message }} </strong>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="col-md-10">
                       <div class="alert alert-warning">
                       <strong> SOCA ticketing system</strong><br>

                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-add"
                               role="tab" aria-controls="nav-home" aria-selected="true">Open Issue Ticket</a>
			    <a class="nav-item nav-link" id="nav-request-tab" data-toggle="tab" href="#nav-request"
                               role="tab" aria-controls="nav-request" aria-selected="true">Open Request Ticket</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-view"
                               role="tab" aria-controls="nav-view" aria-selected="false">View Ticket</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-add" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <br>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Open a new support ticket</h6>
                                </div>
                                <div class="card-body">
                                    <form action="/ticket/support_center/create" method="post">
                                        <div class="form-group">
                                            <label for="ticket_type" data-toggle="tooltip" data-placement="top" title="Ticket type">Type</label>
                                            <input id="ticket_type" placeholder="Issue" value="Issue" class="form-control"
                                                   type="text"
                                                   required name="ticket_type" minlength="8" maxlength="21" readonly>
                                        </div>

					<div class="form-group">
                                            <label for="ticket_title" data-toggle="tooltip" data-placement="top" title="Describe your issue">Title</label>
                                            <input id="ticket_title" placeholder="Describe your issue..." class="form-control"
                                                   type="text"
                                                   required name="ticket_title" minlength="8" maxlength="200">
                                        </div>

                                        <div class="form-group">
                                            <label for="ticket_catalog" data-toggle="tooltip" data-placement="top" title="Select issue catalog" >Catalog</label>
                                            <select class="form-control" id="ticket_catalog" name="ticket_catalog">
                                                <option value="soca_platform">SOCA platform</option>
                                                <option value="dcv_for_remote_display">DCV for remote display</option>
                                                <option value="eda_software">EDA software</option>
                                                <option value="file_transmission">File transmission</option>
                                            </select>
                                        </div>

                                         <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="top" title="Severity levels for issue" for="ticket_severity">Severity</label>
                                            <input type="number" min=1 value=3 max=5 id="ticket_severity"
                                                   class="form-control" type="number"
                                                   required name="ticket_severity">
                                        </div>


                                        <div class="form-group">
                                            <label for="ticket_desc" data-toggle="tooltip" data-placement="top" title="Description issue with detailed information" >Description</label>
                                            <input id="ticket_desc" placeholder="Issue description"
                                                   class="form-control" type="text"
                                                   required name="ticket_desc">
                                        </div>

                                        <div align="justify">
                                            <input type="hidden" name="csrf_token"
                                                   value="{{ csrf_token() }}">
                                            <button type="submit" class="btn btn-primary btn-lg">Submit Ticket
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

			<div class="tab-pane fade" id="nav-request" role="tabpanel"
                             aria-labelledby="nav-request-tab">
                            <br>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Open a new request ticket</h6>
                                </div>
                                <div class="card-body">
                                    <form action="/ticket/support_center/create" method="post">
                                        
                                        <div class="form-group">
                                            <label for="ticket_type" data-toggle="tooltip" data-placement="top" title="Ticket type">Type</label>
                                            <input id="ticket_type" placeholder="Request" value="Request" class="form-control"
                                                   type="text"
                                                   required name="ticket_type" minlength="8" maxlength="21" readonly>
					</div>


					<div class="form-group">
                                            <label for="ticket_title" data-toggle="tooltip" data-placement="top" title="Describe your request">Title</label>
                                            <input id="ticket_title" placeholder="Describe your request..." class="form-control"
                                                   type="text"
                                                   required name="ticket_title" minlength="8" maxlength="100">
                                        </div>

                                        <div class="form-group">
                                            <label for="ticket_catalog" data-toggle="tooltip" data-placement="top" title="Select catalog that your request is belonged to" >Catalog</label>
                                            <select class="form-control" id="ticket_catalog" name="ticket_catalog">
						<option value="limit_increase">Limits increase</option>
                                                <option value="create_account">Create new account</option>
                                                <option value="dcv_for_remote_display">DCV for remote display</option>
                                                <option value="eda_software">EDA software</option>
                                                <option value="file_transmission">File transmission</option>
                                            </select>
                                        </div>

                                         <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="top" title="Severity levels for request" for="ticket_severity">Severity</label>
                                            <input type="number" min=1 value=3 max=5 id="ticket_severity"
                                                   class="form-control" type="number"
                                                   required name="ticket_severity">
                                        </div>


                                        <div class="form-group">
                                            <label for="ticket_desc" data-toggle="tooltip" data-placement="top" title="Description request with detailed information" >Description</label>
                                            <input id="ticket_desc" placeholder="Issue description"
                                                   class="form-control" type="text"
                                                   required name="ticket_desc">
                                        </div>

                                        <div align="justify">
                                            <input type="hidden" name="csrf_token"
                                                   value="{{ csrf_token() }}">
                                            <button type="submit" class="btn btn-primary btn-lg">Submit Ticket
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-view" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <br>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">View/Close Support Ticket </h6>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-primary" role="alert">
                                        <strong>Important </strong>
                                        Close support ticket if you don't need it or the issue/request is solved.
                                    </div>

					{%  if ticket_infos %}

                                        <form action="/ticket/support_center/close" method="post">
                                            <div class="form-group">
                                                <select class="form-control" id="ticket_label" name="ticket_label">
                                                    {% for ticket in ticket_infos %}
						    <option value="{{ ticket['id'] }}"> {{ ticket['id'] }} ({{ticket['title']}})
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" name="verif" id="verif"
                                                       required>
                                                <label class="form-check-label" for="verif">I am sure I want to close this ticket</label>
                                            </div>
                                            <div align="justify">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						<button type="submit" class="btn btn-danger btn-lg">Close Ticket</button>
                                            </div>
                                        </form>
                                        {% else %}
                                        No support ticket found.
                                        {% endif %}

                                </div>
                            </div>
			</div>
                    </div>
                {% endif %}
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                {% include 'common/footer.html' %}
  <script>
    $(document).ready(function() {
        // enable tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })})
</script>
</body>
</html>
